body {top: 0; left:0; margin: 0; overflow:hidden;  background-color: #111;}

#container { position: absolute; width: 100vw; height:100vh; display: flex; align-items: center;  justify-content: center; }


/* #region Splash Screen */
.intro { position: fixed; z-index: 1; left:0; right:0;
   width: 100vw; height: 100vh; background-color: #111; transition: 1s;}

.splash-screen { position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); }

.splash-text{ position: relative; display: inline-block; bottom: -20px; opacity:0; }

.splash-text.active{ bottom: 0; opacity: 1; transition: ease-in-out 0.5s; }

.splash-text.fade{bottom: 150px; opacity:0; transition: ease-in-out 0.5s; }
/* #endregion */

/* #region Buttons */
.button-35 {
  align-items: center;
  background-image: linear-gradient(45deg,rgb(61, 65, 187), rgb(92, 13, 92) );
  border-radius: 12px;
  box-shadow: .5vw .5vw purple;
  box-sizing: border-box;
  padding: 1vw;
  text-align: center;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  border: 0;
}
svg text {
  font-family: FontAwesome;
  background-color:white;
}
/* Makes it such that any device, particularly touch based, will not have a border outline */
@media (hover: hover) {
.button-35:hover{ box-shadow: #fff 0 0 0 3px, transparent 0 0 0 0; } 
}

#back-button {
  position: absolute;
  top: 7vw;
  left: 7vw;
  font-size: 10vw;
  color:#fff;
  opacity: 0;
  z-index: -1;
}
/* #endregion  */

/* #region Top level menu */
.gui-container { opacity: 1; position: absolute; flex-direction: column; display: flex }
#mobile-button-container { top:20vh; opacity: 0; z-index: -1; align-content: space-around; display: flex; flex-direction: column; }
.button-container { align-content: space-around; display: flex; flex-direction: row; }
/* #endregion */
#helper-text {
  width: 100vw;
  position:absolute;
  margin:0;
}

/* #region Typeography */
.david-header{ font-size: 10vw; }

.david-text { font-family: "Permanent Marker"; color: white; }

.link { text-decoration: none }

h2 { font-size: 7vw; font-family: "Permanent Marker"; color: white; }
/* #endregion */

/* #region Responsive Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .david-header { display: none }
  .button-container { flex-direction: column}
  .button-35 { margin:2%; width: 70vw; font-size: 6vw; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .david-header { display:none }
  .button-container { flex-direction: column }
  .button-35 { margin:2%; width: 70vw; font-size: 6vw; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .gui-container {align-content: center;}
  .david-header {display: inline-flex; font-size: 8vw; text-align: center;justify-content: center;}
  .button-container {flex-direction: row;}
  .button-35{width:30vw; font-size:4vw; margin:1vw}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
/* #endregion */